@{
    Layout = "~/Views/Shared/_Index.cshtml";

 }
<div class="container-div">
    <div class="row">
        <div id="searchDiv" class="col-sm-12 search-collapse">
            <div class="select-list">
                <ul>
                    <li>
                        出货码头：<span id="shippingDock" col="ShippingDock"></span>
                    </li>
                    <li class="hidden">
                        车辆状态：<span id="startStatus" col="StartStatus"></span>
                    </li>
                    <li class="hidden">
                        车辆状态：<span id="endStatus" col="EndStatus"></span>
                    </li>
                    <li>
                        <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group-sm " id="toolbar">
            <a id="btnEdit" class="btn btn-success " onclick="finishForm(1)"><i class="fa fa-plus"></i> 车辆呼叫</a>
            <a id="btnEdit" class="btn btn-primary " onclick="finishForm(2)"><i class="fa fa-edit"></i> 车辆完成</a>
            <a id="btnEdit" class="btn btn-danger " onclick="finishForm(3)"><i class="fa fa-remove"></i> 车辆取消</a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#shippingDock").ysComboBox({
            data: top.getDataDict("ShippingDock"),
            key: "DictKey",
            value: "DictValue",
            maxHeight: "160px"

        });
        initGrid();
    });

    function initGrid() {
        var queryUrl = '@Url.Content("~/ScheduleManage/Vehicle/GetPageListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            sortName: 'CheckTime',
            sortOrder:'asc',
            columns: [
                { radio: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'CheckTime', title: '签到时间' },
                { field: 'OrderNo', title: '订单号码' },
                { field: 'VehicleNo', title: '车牌号码' },
                {
                    field: 'Status', title: '车辆状态', formatter: function (value, row, index) {
                        return top.getDataDictValue('VehicleStatus', value);
                    }
                },
                { field: 'DriverName', title: '司机姓名' },
                { field: 'DriverPhone', title: '联系电话' },
                {
                    field: 'MissonType', title: '任务类型', formatter: function (value, row, index) {
                        return top.getDataDictValue('MissonType', value);
                    }
                },
                {
                    field: 'ShippingDock', title: '出货码头', formatter: function (value, row, index) {
                        return top.getDataDictValue('ShippingDock', value);
                    }
                },
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $('#searchDiv').getWebControls(pagination);
                //只显示车辆状态为匹配和装货中
                queryString.StartStatus = 2;
                queryString.EndStatus = 3;
                return queryString;
            }
        });
    }

    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }
    function finishForm(attr) {
        var selectedRow = $('#gridTable').bootstrapTable('getSelections');
        if (attr == 3) {
            Tips = ' 取消车辆排队任务吗？'
            selectedRow[0].Status = 5;
        }
        if (attr == 2) {
            Tips = ' 装卸货任务已经完成吗？'
            selectedRow[0].Status = 4;
        }
        if (attr == 1) {
            Tips = ' 呼叫该车辆开始装卸货吗？'
            selectedRow[0].Status = 3;
        }
        if (ys.checkRowDelete(selectedRow)) {
            ys.confirm(selectedRow[0].VehicleNo + Tips, function () {
                //更新车辆表数据
                var postData = selectedRow[0];
                ys.ajax({
                    url: '@Url.Content("~/ScheduleManage/Plan/SaveFormJson")',
                    type: 'post',
                    data: postData,
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            ys.msgSuccess(obj.Message);
                            searchGrid();
                        }
                        else {
                            ys.msgError(obj.Message);
                        }
                    }
                });
            });
        }
    }

</script>
