@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-2 control-label ">DriverName<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="driverName" col="DriverName" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">DriverPhone<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="driverPhone" col="DriverPhone" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">CheckTime<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="checkTime" col="CheckTime" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">GoodsType<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="goodsType" col="GoodsType" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">GoodsModel<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="goodsModel" col="GoodsModel" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">Destination<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="destination" col="Destination" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">CabinetNo<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="cabinetNo" col="CabinetNo" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">DriverIdentityNo<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="driverIdentityNo" col="DriverIdentityNo" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">VehicleNo<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="vehicleNo" col="VehicleNo" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">MissonType<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="missonType" col="MissonType" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">GoodsName<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="goodsName" col="GoodsName" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">OrderNo<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="orderNo" col="OrderNo" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">BillNumber<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="billNumber" col="BillNumber" type="text" class="form-control" />
            </div>
    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    $(function () {
        getForm();

        $('#form').validate({
            rules: {
                driverName: { required: true }
            }
        });
    });

    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/ScheduleManage/Vehicle/GetFormJson")' + '?id=' + id,
                type: 'get',
                success: function (obj) {
                    if (obj.Tag == 1) {
                        $('#form').setWebControls(obj.Data);
                    }
                }
            });
        }
        else {
            var defaultData = {};
            $('#form').setWebControls(defaultData);
        }
    }

    function saveForm(index) {
        if ($('#form').validate().form()) {
            var postData = $('#form').getWebControls({ Id: id });
            ys.ajax({
                url: '@Url.Content("~/ScheduleManage/Vehicle/SaveFormJson")',
                type: 'post',
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.searchGrid();
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }
</script>

