@{
    Layout = "~/Views/Shared/_Index.cshtml";
    OperatorInfo operatorInfo = ViewBag.OperatorInfo;
 }
<div class="container-div">
    <div class="row">
        <div id="searchDiv" class="col-sm-12 search-collapse">
            <div class="select-list">
                <ul>
                    <li>
                        订单号：<input id="orderNo" col="OrderNo" type="text" />
                    </li>
                    <li>
                        任务类型：<span id="missonType" col="MissonType"></span>
                    </li>

                    <li>
                        货物类型：<span id="goodsType" col="GoodsType"></span>
                    </li>
                    <li class="hidden">
                        订单状态：<span id="orderStatus" col="OrderStatus"></span>
                    </li>
                    <li>
                        <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group-sm hidden-xs" id="toolbar">
            <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)"><i class="fa fa-plus"></i> 新增</a>
            <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> 修改</a>
            <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> 删除</a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        initGrid();
        $("#missonType").ysComboBox({
            data: top.getDataDict("MissonType"),
            key: "DictKey",
            value: "DictValue",
            maxHeight: "160px"
           
        });
        $("#goodsType").ysComboBox({
            data: top.getDataDict("GoodsType"),
            key: "DictKey",
            value: "DictValue",
            maxHeight: "160px"

        });
    });

    function initGrid() {
        var queryUrl = '@Url.Content("~/ScheduleManage/Order/GetPageListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'OrderNo', title: '销售订单号' },
                {
                    field: 'MissonType', title: '任务类型', formatter: function (value, row, index) {
                        return top.getDataDictValue('MissonType', value);
                    }
                },
                {
                    field: 'GoodsType', title: '货物类型', formatter: function (value, row, index) {
                        return top.getDataDictValue('GoodsType', value);
                    }
                },
                {
                    field: 'ShippingDock', title: '出货码头', formatter: function (value, row, index) {
                        return top.getDataDictValue('ShippingDock', value);
                    }
                },
                {
                    field: 'OrderStatus', title: '订单状态', formatter: function (value, row, index) {
                        return top.getDataDictValue('OrderStatus', value);
                    }
                },
                { field: 'CreateTime', title: '创建时间' },
                { field: 'ExecutionTime', title: '执行时间' },
                { field: 'FinishTime', title: '完成时间' },           
                                
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $('#searchDiv').getWebControls(pagination);
                //只可显示编辑新订单
                queryString.OrderStatus = 1;
                return queryString;
            }
        });
    }

    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }

    function showSaveForm(bAdd) {
        var id = 0;
        if (!bAdd) {
            var selectedRow = $('#gridTable').bootstrapTable('getSelections');
            if (!ys.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        ys.openDialog({
            title: id > 0 ? '编辑' : '新增',
            content: '@Url.Content("~/ScheduleManage/Order/OrderForm")' + '?id=' + id,
            width: '500px',
            height: '420px',
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    function deleteForm() {
        var selectedRow = $('#gridTable').bootstrapTable('getSelections');
        if (ys.checkRowDelete(selectedRow)) {
            ys.confirm('确认要删除选中的' + selectedRow.length + '条数据吗？', function () {
                var ids = ys.getIds(selectedRow);
                ys.ajax({
                    url: '@Url.Content("~/ScheduleManage/Order/DeleteFormJson")' + '?ids=' + ids,
                    type: 'post',
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            ys.msgSuccess(obj.Message);
                            searchGrid();
                        }
                        else {
                            ys.msgError(obj.Message);
                        }
                    }
                });
            });
        }
    }
</script>
